<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis全局配置文件：配置数据源，连接池，映射文件等 -->
<configuration>

    <settings>
        <!-- 开启驼峰自动映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
	
    
     <plugins>
	 
	 
	 <!-- 通用mapper -->
      <plugin interceptor="com.github.abel533.mapperhelper.MapperInterceptor">
        <property name="IDENTITY" value="MYSQL"/>
        <property name="seqFormat" value="{0}.nextval"/>
        <property name="mappers" value="com.github.abel533.mapper.Mapper"/>
      </plugin>
	  
    </plugins> 
	
</configuration>